.about-us-content{
    background: white;
    width:85%;
    margin: 15px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    margin-top: 3%;
}

.about-us-title{
    text-align: center;
    display:block;
    font-size: 3rem;
    padding-top: 6%;
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #e6e6e6;
    width: 80%;
    margin:0 auto;
}

.about-us-description{
    width: 60%;
    margin:3% auto;
}

.about-us-image{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 60%;
    padding-bottom: 5%;
}

@media only screen and (max-width: 600px){
    .about-us-content{
        width:100%;
    }

    .about-us-title{
        font-size:32px;
        padding-bottom:8%;
        font-weight:600;
    }

    .about-us-description{
        margin-top:15%;
        width: 80%;
        font-family: 'Helvetica Neue', helvetica, sans-serif;
        font-size:14px;
        color:#666666;
    }

    .about-us-description span{
        font-style:italic;
        font-weight:600;
    }

    .about-us-image{
        width:80%;
        padding-bottom: 15%;
    }
}