.advertise-container{
    background: white;
    width:85%;
    margin: 15px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    margin-top: 10%;
}

.advertise-image{
    background-image: url("../assets/images/forrest.jpeg");
    height:75vh;
    z-index: 1;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.advertise-image p{
    z-index: 2;
    color:white;
    font-size: 48px;
    text-align:center;
    text-shadow: 1px 1px black;
    position: relative;
    top:65%;
}

.advertise-traffic-title, .gender-breakdown{
    text-align: center;
    display:block;
    padding-top: 2%;
    font-size: 36px;
    font-weight: 800;
    width: 80%;
    margin:0 auto;
}

.gender-breakdown{
    margin-top: 5%;
    margin-bottom:5%;
    border-top:1px solid #e6e6e6;
    border-bottom:1px solid #e6e6e6;
    height:300px;
}

.operating-system-breakdown{
    display:block;
    padding-top: 2%;
    font-size: 36px;
    font-weight: 800;
    width: 80%;
    margin:0 auto;
}

.advertise-map-image{
    background-image:url("../assets/images/tb-adv-world-map.jpg");
    height: 80vh;
    
    background-repeat: no-repeat;
}

.user-breakdown-image{
    background-image: url("../assets/images/tb-adv-user-os.jpg");
    height: 71vh;
    background-repeat: no-repeat;
    width: 80%;
    margin: 0 auto;
}

.advertise-text{
    width: 80%;
    margin: 0 auto;
}
.advertise-text p {
    color: #666666;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
}

.advertise-form input:nth-child(-n+6){
    display: block;
    width: 45%;
    height: 36px;
}
.advertising-stat{
    position: absolute;

}
.advertise-map-image{
    position: relative;
}
.advertise-map-image div{
    text-align: center;
}
.advertise-map-image div strong{
    font-size:24px;
}
.advertise-map-image div:nth-child(1){
    left:15%;
    top:13%;
}
.advertise-map-image div:nth-child(2){
    left:13%;
    top:28%;
}
.advertise-map-image div:nth-child(3){
    left:34%;
    top:25%;
}
.advertise-map-image div:nth-child(4){
    left:54%;
    top:40%;
}
.advertise-map-image div:nth-child(5){
    left:60%;
    top:18%;
}
.advertise-map-image div:nth-child(6){
    left:68%;
    top:64%;
}

.male, .female{
    display: inline-block;
    width:50%;
    font-size:48px;
}
.male i, .female i{
    padding-left:5%;
}
.demographic{
    font-size:20px;
    color:#777;
}
.advertise-form label{
    display: block;
    width: 40%;
    color: #666666;
    font-size: 14px;
    font-weight: 700;
    margin: 1% 0;
}

.advertise-form textarea{
    width: 100%;
    height:160px;
}


.advertise-form button{
    width: 10%;
    height:10%;
    background-color: #FBBE00;
    color: white;
    height: 36px;
    font-size: 15px;
    display: block;
    
}

.contact-consent, .consent-label{
    display:inline-block !important;
    width:10% !important;
}

@media only screen and (max-width: 700px){
    .advertise-container{
        width:100%;
        height: 446vh;
    }

    .advertise-image{
        height:30vh;
    }

    .advertise-image p{
        font-size:32px;
    }
    .advertise-trafic-title{
        font-size: 30px;
        font-weight:600;
    }
    .advertise-map-image{
        background-repeat: no-repeat;
        height: 29vh;
        width: 100%;
        background-size: contain;
    }
    .gender-breakdown{
        font-size:30px;
    }
    .operating-system-breakdown{
        font-size:30px;
        font-weight: 600;
    }
    .user-breakdown-image{
        width:80%;
        height:20vh;
        background-size: contain;

    }
    .advertise-form input, .advertise-form textarea{
        width:100% !important;
        border: 1px solid #e1e1e1;
    }
    .advertise-form label{
        font-size: 14px !important;
        font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
        width:100% !important;
    }

    #advertise-checkbox{
        width:5% !important;
    }

    .advertise-form button{
        width:100%;
    }
    #consent-label{
        display: inline-block !important;
        width:5% !important;
    }
    .advertising-stat span{
        display: none;
    }
    .gender-breakdown{
        height:350px;
    }
    .male, .female{
        width:100%;
    }
    .male i, .female i{
        padding-left:5%;
        font-size:45px;
        top:0;
    }
}
