*{
    line-height:180%;
}

.dropdown-trigger{
    padding: 1% 1.5%;
    position: absolute;
    top:0;
    right:6.5%;
}

.dropdown-trigger:hover{ 
    background-color: #FBBE00;
    color: white;
    cursor: pointer;
}

.menu-dropdown{
    width:72%;
    position: absolute;
    right:-5%;
    top:56px;
    display: block;
    z-index: -1;
    overflow: hidden;
}

.menu-dropdown label, .menu-sections label{
    padding: 0.5rem 1rem;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
}

.menu-pages{
    height:100%;
    background-color: rgba(251,190,0,0.95);
    color: white;
    display: inline-block;
    vertical-align: top;
    padding: 1.5rem 1rem;
}

.menu-pages ul{
    padding: 12px 1rem;
    margin:0;
}
.menu-pages li{
    list-style-type: none;
    display: block;
}
.menu-pages li:hover{
    color:black;
}


.menu-sections{
    height:100%;
    background-color: black;
    color: white;
    display: inline-block;
    width:55%;
    padding: 1.5rem 1rem;
}

.menu-sections ul {
    padding: 0.5rem 1rem;
    margin: 0;
    padding: 26px 1rem;
}

.menu-sections li {
    list-style-type: none;
    width: 33%;
    display: inline-block;
    padding: 0 1rem;
    
}
.menu-sections li:hover{
    color:#FBBE00;
}

a{
    text-decoration: none;
    color:inherit;
}

.menu-links{
    height:100%;
    width: 13%;
    background-color:#f2f2f2;
    color: #999;
    display: inline-block;
    vertical-align: top;
    padding: 1.5rem 1rem;
    box-shadow: 0 3px 3px rgba(0,0,0,0.1);
}
.menu-links ul{
    padding: 16px 1rem;
}

.menu-links li, .menu-links a{
    list-style-type: none;
    font-size: 18px;
    text-decoration: none;
}

.menu-links li:hover{
    color: #FBBE00;
}

.slide-enter {
    transform: translateY(-100%);
    transition: .5s cubic-bezier(0, 1, 0.5, 1);
}

.slide-enter.slide-enter-active {
    transform: translateY(0%);
  }

  .slide-leave {
    transform: translateY(0%);
    transition: .5s ease-in-out;
  }

  .slide-leave.slide-leave-active {
    transform: translateY(-100%);
  }