.news-tips-content{
    background: white;
    width:85%;
    margin: 15px auto;
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    margin-top: 3%;
}

.news-tips-title{
    text-align: center;
    display:block;
    padding-top: 6%;
    font-size: 60px;
    font-weight: 700;
    border-bottom: 1px solid #e6e6e6;
    width: 80%;
    margin:0 auto;
}

.news-tips-form {
    width: 60%;
    margin:3% auto;
}

.news-tip-instruction{
    font-family: 'Helvetica Neue', helvetica, sans-serif;
}
.news-tips-form input{
    display: block;
    width: 40%;
    height: 36px;
}
.news-tips-form label{
    display: block;
    width: 40%;
    font-weight: 700;
    font-size: 14px !important;
    font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
    padding:1.5% 0;
    color: #666666;
    letter-spacing: .5pt;
}
.news-tips-form input, .news-tips-form textarea{
    border: 1px solid #e1e1e1;
}

.confirm-email, .email-input, .email-input-label, .email-confirm-label{
    display:inline-block !important;
    margin-right: 2.5%;
}

.tip-title{
    display:block;
    font-size: 1.24rem;
    padding-top: 6%;
    font-weight: 600;
    border-bottom: 1px solid #e6e6e6;
    width: 100%;
    margin:0 auto;
}

.news-tips-form textarea{
    width: 100%;
    height:160px;
}

.image-url-input ,.video-url-input{
    width:95% !important;
    display: inline-block !important;
    margin-right: .5%;
}

.consent-statement{
    width:80% !important;
}

.tip-form-submit{
    margin-bottom: 5%;
    width: 10%;
    background-color: #FBBE00;
    color: white;
    height: 36px;
    font-size: 16px;
    text-align: center;
}
.news-checkbox{
    display: inline-block !important;
    width:5% !important;
}
#news-checkbox-label{
    display:inline-block;
    width:90%;
    vertical-align: bottom;
}
@media only screen and (max-width:1000px){
    .news-tips-content{
        width:100%;
    }
    .news-tips-title{
        width:70%;
    }
    .news-tips-form{
        width:70%;
        padding-bottom: 5%;
    }
    .news-tip-form input, .news-tip-form label{
        width:47%;
    }

    .consent-statement{
        display:block;
    }

    .news-checkbox {
        width:5% !important;
        display: inline-block !important;
    }

    .tip-form-submit{
        display: block;
    }

}

@media only screen and (max-width:700px){
    .news-tips-title{
        font-size:30px;
        font-weight: 700;
        padding-bottom:5%;
    }

    .news-tips-content{
        width:100%;
    }

    .news-tip-instruction{
        padding:5% 0;
        width:80%;
    }

    .news-tips-form{
        width:80%;
        padding-bottom:1%;
    }
    .news-tips-form input, .news-tips-form textarea{
        width:80%;
    }
    .news-tips-form label {
        font-size: 14px !important;
        font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
        padding:3% 0;
        color: #666666;
        letter-spacing: .5pt;
        font-weight:700;
        width:80%;
    }
    .confirm-email{
        margin: 15% 0 0%;

    }
    .email-input-label{
        position: absolute;
        left:10%;
    }
    .tip-title{
        padding-bottom: 1%;
    }

    .check-box{
        width: 5% !important;
        display: inline-block !important;
    }

    .check-box-label{
        width:5% !important;
        display: inline-block !important;
        vertical-align: bottom;
    }

    .tip-form-submit{
        width:25%;
        display:block;
        margin-bottom:5%;
    }

}

