.single-post-container{
    width:100%;
    height:100%;
    background-color: #f2f2f2;
}
.single-post-title{
    display: none;
}
.single-post-content{
    background-color: #f2f2f2;
}
#sharing-column{
    position: fixed;
}
#sharing-floater{
    position: absolute;
    left: 30px;
    top: 20px;
}
.single-post{
    width: 80%;
    position: relative;
    top:110px;
    display: block;
    margin: 0 auto;
    background-color: white;
}
.single-terms{
    float:right;
}
.single-terms .tags a{
    color:#FBBE00;
}
.single-terms .tags a:hover{
    color:#D9A613;
}
.bg-img{
    width:100%;
    height:100%;
}
.hide{display: none;}

.single-title{
    background-color: rgba(255,255,255,0.9);
    background: radial-gradient(rgba(255,255,255,0.8), #fff 70%);
    position: relative;
    font-size: 60px;
    width: 80%;
    text-align: center;
    overflow: hidden;
    border-bottom:1px solid #666666;
    display: block;
    margin: 0 auto;
    
}
.single-title span{
    position: absolute;
    top: 70%;
    color: white;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    background-color: #FBBE00;
    box-shadow: 0.3em 0 0 #FBBE00, -0.3em 0 0 #FBBE00;
    opacity: 0.9;
    font-size:60px;
    text-align: center;
}

.single-content > .wrapper{
    width:80%;
    display: block;
    margin: 0 auto;
}
.wrapper .single-title img {
    bottom: -30px;
    left: 50%;
    margin-left: -235px;
    position: absolute;
    opacity: 0.2;
}
.twothird p, .twothird ul li {
    color: #666666;
    font-family: 'Helvetica Neue', helvetica, sans-serif;
    font-size: 100%;
}
.half.post{
    width:50%;
    display: inline-block;
    vertical-align: top;
}

.twothird.middle{
    display: block;
    margin:0 auto;
}
.row .twothird {
    float: left;
    width: 635px;
}

iframe{
    width: 100%;
    height: 46vh;
}

.attribution {
    color: #000;
    font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
    font-size: 14px;
    line-height: 190%;
    text-transform: uppercase;
    margin: 30px 0;
    overflow: hidden;
}
.adLabel {
    display:none;
}

/* Image Carousel */

.gallery {
    background-color: #333333;
    padding-bottom: 30px;
}
.container {
    clear: both;
    overflow: hidden;
    position: relative;
}
.gallery .viewer {
    min-height: 1px;
    overflow: visible;
    position: relative;
    transition: height 0.2s;
}
.gallery .viewer + .controls {
    color: #999;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    z-index: 10;
}
.wrapper {
    margin: 0 auto;
    position: relative;
    width: 970px;
}
.row {
    margin: 30px 0;
    position: relative;
    clear: both;
}
.viewer{
    min-height: 1px;
    overflow: visible;
    position: relative;
    transition: height 0.2s;
}
.controls{
    color: #999;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    z-index: 10;
}
.gallery .viewer > .controls a .svg-icon {
    display: block;
    fill: #fff;
    height: 28px;
    width: 28px;
}
.section-label, .adLabel {
    color: #b3b3b3;
    font-family: 'Oswald';
    font-size: 14px !important;
    font-weight: 300;
    text-transform: uppercase;
    left: -232px;
    margin: 0 !important;
    position: absolute;
    text-align: right;
    top: 0px;
    transform: rotate(270deg);
    transform-origin: top right;
    width: 200px;
}
.svg-icon {
    height: 18px;
    transition: 0.2s all;
    width: 18px;
}
.gallery .viewer:hover > .controls {
    opacity: 1;
}


.gallery .viewer > .controls {
    opacity: 0;
    transition: 0.2s all;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.row .twothird.middled {
    float: none;
    margin: 0 auto;
}
.twothird.middled p{
    width:80%;
}
.row .twothird {
    float: left;
    width: 635px;
}
.gallery .viewer .row {
    margin-bottom: 0;
}
.gallery .row {
    margin-right: -35px;
}
.gallery .viewer.currentImage .gallery-fullscreen svg {
    fill: #28a0ff;
}
.svg-icon {
    height: 18px;
    transition: 0.2s all;
    width: 18px;
}
.row {
    margin: 30px 0;
    position: relative;
    clear: both;
}
.gallery .viewer > .controls a.prev {
    left: 0;
}
.gallery .viewer > .controls a.next {
    right: 0;
}
.gallery .viewer > .controls a:hover {
    background-color: #28A0FF;
}
.gallery .viewer.currentImage {
    background-color: #000;
    cursor: pointer;
    max-height: 635px;
    position: relative;
    z-index: 20;
}
.gallery .viewer.currentImage img{
    width:100%;
    height:auto;
}
.gallery .viewer > .controls a {
    background-color: rgba(0,0,0,0.3);
    padding: 11px;
    position: absolute;
    top: 0;
    bottom: 0;
    cursor: pointer;
    width: 28px;
}

.gallery .viewer > .controls a.prev .tab {
    padding-right: 3px;
}
.gallery .viewer > .controls a .tab {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -19px;
}

.gallery .owl-carousel .owl-stage-outer {
    padding: 1rem 0;
}
.gallery .viewer + .controls .count {
    display: inline-block;
    font-family: 'Oswald';
    font-weight: 200;
    font-size: 12px;
}
.gallery .viewer + .controls * {
    display: inline;
    line-height: 20px;
    vertical-align: middle;
}
.gallery .viewer + .controls .count div {
    display: block;
    width: 30px;
}
.gallery .viewer + .controls .count div + div {
    border-top: 1px solid;
}
.owl-carousel.owl-loaded {
    display: block;
}
.owl-carousel {
    display: flex;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-stage {
    transition: all 0s ease 0s;
    width: 4441px;
    padding-left: 150px;
    padding-right: 150px;
    transform: translate3d(-667px, 0px, 0px);
}
.gallery .owl-carousel .owl-stage {
    margin-left: -167px;
}
.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
}
.owl-item {
    width: 98.571px;
    margin-right: 35px;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item img {
    display: block;
    width: 100%;
}
.gallery .owl-item {
    opacity: 0.8;
    transition: all 0.2s;
}
.owl-item {
    width: 98.571px;
    margin-right: 35px;
}
.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
}
.thumbnails a{
    margin: 2%;
    width: 100%;
    overflow: initial;
}
.post.third.checktitle{
    width: 33%;
    display: inline-block;
}
.post.third.overflow{
    display: inline-block;
}

.btn.btn-solid {
    background-color: #FBBE00;
    border-color: #FBBE00;
    color: #fff;
    border: 1px solid;
    font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
    text-transform: uppercase;
    padding: 0.25em 0.5em 0.15em 0.5em;
    white-space: nowrap;
}
.single-terms .btn {
    margin-left: 0.5rem;
}
.sheet {
    background-color: #fff;
    margin: 30px auto;
    max-width: 1200px;
    padding-bottom: 2rem;
}
.l2 {
    box-shadow: 0 2px 2px rgba(0,0,0,0.15);
    position: relative;
}
.btn{
    border: 1px solid;
    font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
    text-transform: uppercase;
    padding: 0.25em 0.5em 0.15em 0.5em;
    white-space: nowrap;
    border-color: #FBBE00;
}
.post{
    text-align: center;
}
.post.third.checktitle {
    width: 29%;
    display: inline-block;
    vertical-align: top;
    position: relative;
}
.post.third {
    height: 350px;
    overflow: hidden;
}
.fluid-row .third {
    float: left;
    margin: 0 35px 30px 0;
    width: 300px;
}
.post .heading .cats {
    line-height: 24px;
    position: relative;
}
.post.third a.post-img {
    height: 250px;
    width: 300px;
}
.post a.post-img {
    background-color: rgba(0,0,0,0.05);
    display: block;
}
.post .labels {
    left: 20px;
    font-size: 12px;
    position: absolute;
    top: 20px;
    z-index: 2;
}
.post .labels a.btn {
    color: #fff;
    margin-right: 10px;
}
.post.checktitle .heading h3 a {
    background-color: #f2f2f2;
    -webkit-font-smoothing: antialiased;
    line-height:130%;
}
.post.third .heading h3 a {
    padding: 12px 10px;
}
.twothird.middled p {
    width: 100%;
}
.post .heading h3 a {
    color: #000;
    display: block;
    padding: 0 30px;
}
.post.checktitle .heading h3 {
    max-height: 76px;
}
.post.third .heading h3 {
    margin: 0;
}
.post .heading h3 {
    font-size: 20px;
}
.post a.btn {
    font-size: 12px;
}
.btn.btn-simple {
    border-color: transparent;
}
.btn.btn-simple:hover {
    border-color: inherit;
}
.cats a{
    color:#FBBE00;
}

.adspot, .tb-ad, .ext-ad {
    text-align: center;
    position: relative;
}
.authorbio h5 {
        margin: 0 0 0.5rem 0;
}  
.authorbio {
    font-size: 14px;
    overflow: hidden;
}
#root > div > div.single-post-container > div > div.single-post-content > div.sheet.l2 > div.wrapper > div{
    height:235px;
}
#root > div > div.single-post-container > div > div.single-post-content > div.sheet.l2 > div.wrapper > div > div.third{
    width:24%;
}

.row .twothird + .third {
    margin-left: 35px;
}
.row .third {
    float: left;
    position: relative;
    width: 300px;
}

.authorlinks.single-terms {
    min-height: 30px;
} 
.authorlinks .icon {
    padding: 0.5rem;
} 
#paging .page-numbers {
    font-family: 'Roboto Condensed','Helvetica Neue', helvetica,sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    margin: 0 0.2em;
    padding: 0.5em 1em 0.5em 1em;
}
#paging a {
    background-color: #FBBE00;
}


@media (max-width: 1010px){
    .wrapper {
        width: 635px;
    }
}
@media (max-width: 700px){
    .single-post{
        width:100%;
        top:40px;
    }
    .wrapper {
        width: 300px;
    }
    .attribution{
        text-align: center;
    }
    .post.third {
        height: auto;
    }
    .single-title {
        font-size: 32px;
        padding: 3rem 0 2rem;
        width:100%;
    }
    .single-title img {
        display: none;
    }
    .single-terms{
        display:none;
    }
    .post.third.checktitle {
        width:100%;
    }
    iframe {
        height: 24vh;
    }
    .row .half, .row .third, .row .twothird {
      float: none;
      margin-bottom: 30px;
      width: 300px;
   }
   #paging a {
      color: #fff;
      text-align: center;
    }
    .page-numbers{
        position: relative;
        left:35%;
        transform: translateX(-50%);
    }
    .twothird.middled p {
        width: 100%;
    }
    .authorbio p{
        width: 80%;
    }
    #sharing-floater{
        display:none;
    }
    #root > div > div.single-post-container > div > div.single-post-content > div.sheet.l2 > div.wrapper > div{
        width:100%;
    }
    #root > div > div.single-post-container > div > div.single-post-content > div.sheet.l2 > div.wrapper > div > div.third{
        width:100%;
    }
    .size-full{
        width: 100%;
        height: auto;
    }
}




