.recent-container{
    width: 100%;
    background-color: #f2f2f2;
}

.recent-content{
    margin: 0 auto;
    width: 70%;
    position: relative;
}

.recent-name{
    position: absolute;
    left: -4%;
    top:5%;
    transform: rotate(270deg);
    color:#b3b3b3;
}