.recent-container{
    width: 100%;
    background-color: #f2f2f2;
    display: block;
}

.recent-content{
    margin: 0 auto;
    width: 70%;
    position: relative;
}

.recent-name{
    position: absolute;
    left: -4%;
    top:5%;
    transform: rotate(270deg);
    color:#b3b3b3;
}

.recent-pagination{
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: center;
}

.recent-pagination a {
    width: 3%;
    height: 5vmin;
    margin: 1%;
    background-color: #FBBE00;
    color: white;

}

.recent-pagination a:hover{
    background-color: black;
}